.main-grid {
  display: grid;
  grid-template-columns:
    minmax(0.5rem, 1fr)
    minmax(auto, 920px)
    minmax(0.5rem, 1fr);
  > .grid-col-c {
    grid-column: 2;
  }
  > .grid-col-f {
    grid-column: 1 / -1;
  }
}