// COLOR PALETTE

$brand: #73c2ff;
$brandDark: rgb(81, 166, 231);
$white: #ffffff;
$gray: #cfcfcf;
$black: #111111;

// LAYOUT BREAKPOINTS

$breakNarrow: 500px;
$breakMedium: 769px;
$breakDesktop: 900px;
$breakWide: 1100px;

$cardPadding: 6px;
$cardRadius: 4px;

$shadow1: 0px 1px 4px 1px rgba(100, 100, 100, 0.4);
$shadow2: 0px 2px 2px 0px rgba(100, 100, 100, 0.3);
$shadow3: 0px 6px 22px 0px rgba(0, 0, 0, 0.3);

$listWidth: 272;
$listPadding: 6;
